.property-form {
  margin: 4px;
  border: 1px solid gainsboro;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.property-form-input-container span {
  width: 132px;
}

.property-form-input-container label {
  display: flex;
  justify-content: space-between;
  margin: 3px;
}

.property-form__input {
  width: 474px;
  height: 24px;
  border-radius: 2px;
  border: 1px solid gray;
}

.property-form__button {
  padding: 8px;
  margin: 4px;
  cursor: pointer;
}
